.jtopnav {
  background-color: white;
  overflow: hidden;
}


.jtopnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.jtopnav a:hover {
  background-color: white;
  color: black;
}

.jtopnav a.split-jl{
  float: left;
  background-color: #04AA6D;
  color: white;
}

.jtopnav a.split-jr{
  float: right;
  background-color: #04AA6D;
  color: white;
}

.jcontainer {
  display: inline-block;
  cursor: pointer;
}

.jbar1, .jbar2, .jbar3 {
  width: 35px;
  height: 3px;
  background-color: #333;
  margin: 2.7px 0;
  transition: 0.4s;
}
